body {
    font-family: Forum;
    background-image: url('../images/background_img_crystal_ball.jpg');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

/* Glowing text from https://www.w3schools.com/howto/howto_css_glowing_text.asp */
.glow {
    font-size: 70px;
    color: #fff;
    text-align: center;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8A2BE2, 0 0 40px #8A2BE2, 0 0 50px #8A2BE2, 0 0 60px #8A2BE2, 0 0 70px #8A2BE2;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #8A2BE2, 0 0 30px #8A2BE2, 0 0 40px #8A2BE2, 0 0 50px #8A2BE2, 0 0 60px #8A2BE2, 0 0 70px #8A2BE2;
    }
}
/* End of Glowing text from w3scools  */

nav ul {
    text-align: center;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 9px;
}

nav a:hover {
    color: #ADF558;
    text-decoration: underline;
}

.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    background-color: #191970;
    width: 500px;
    height: 340px;
    border-radius: 5px;
}

p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
}



.small {
    font-size: 15px;
    padding: 15px;
    font-style: italic;
}

.box-content {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
}

#userQuestion {
    margin: 0;
    border: none;
    font-family: Forum;
    border-radius: 6px;
}

button {
    background-color: #FFF;
    border: none;
    border-radius: 6px;
    font-family: Forum;
    text-transform: uppercase;
    margin-left: 8px;
    padding: 5px;
}

button:hover {
    background-color: #ADF558;
}

#answer {
    padding: 15px;
}

#answer2, #answer3 {
font-size: 20px;
font-style: italic;
}

#answer3 {
    width: 100%;
    margin: 100px;
}

#number {
 font-size:80px;
  color: #FFF;
  text-align: center;
  margin:0;
  padding-top: 30px;
}

h2 {
    color: #FFF;
    text-decoration: none;
    font-size: 25px;
    text-align: center;  
    padding-bottom: 0;
    margin-bottom: 0;  
}

.small a {
    color: #FFF;
    text-decoration: none;
}

.small a:hover {
    color: #ADF558;
}




.container-bottom {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 25px;
    width: 100%;
}

.Player1, .Player2{
    margin-top:0;
}

.dice {
    width: 50%;
    text-align: center;
}

.img1, .img2 {
    width:40%;
}

.date {
    color: #FFF;
}
/* Media with a screen of max-width 865px */
@media only screen and (max-width: 865px) {    
   #menu{
    width: 100%;
    text-align: center;
    display: inline-block;
   }
    ul {
    width: 75%;
    text-align: center;
    display: inline-block;
   }
}

/* Media with a screen of max-width 600px */
@media only screen and (max-width: 600px) {  
    ul {
        width: 60%;
       }
    nav li {
        padding-top: 10px;
    }

#answer3 {
    width: 80%;
}

.box {
    width: 300px;
}
#answer3 {
    width: 100%;
    margin: 20px;
}
}
/* Media with a screen of max-width 425px */
@media only screen and (max-width: 425px) { 
   .glow {
    margin-bottom: 10px;
   }
    ul {
        width: 85%;
       }
       nav li {
        padding-top: 10px;
    }
    nav a {
        font-size: 18px;
    }
       .glow {
        font-size: 60px;
}
}