body {
    background-image: url('../images/background_img_crystal_ball.jpg');
    background-color: #150124;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Forum", 'Times New Roman', Times, serif;
    font-weight: regular;
    height: 100vh;
    position: relative;
}

/* Glowing text from https://www.w3schools.com/howto/howto_css_glowing_text.asp */
.glow {
    font-size: 70px;
    color: #fff;
    text-align: center;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8A2BE2, 0 0 40px #8A2BE2, 0 0 50px #8A2BE2, 0 0 60px #8A2BE2, 0 0 70px #8A2BE2;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #8A2BE2, 0 0 30px #8A2BE2, 0 0 40px #8A2BE2, 0 0 50px #8A2BE2, 0 0 60px #8A2BE2, 0 0 70px #8A2BE2;
    }
}

/* End of Glowing text from w3scools  */

/* Navigation */
nav ul {
    background-color: #150124;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    color: #FFF;
    font-size: 20px;
    padding: 9px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #ADF558;
    text-decoration: underline;
}

/* Content container all pages */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

.box {
    background-color: #191970;
    border-radius: 5px;
    height: 340px;
    width: 500px;
}

p {
    color: #FFF;
    font-size: 20px;
    text-align: center;
}

.small {
    font-size: 15px;
    font-style: italic;
    padding: 15px;
}

.box-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
}

button {
    background-color: #FFF;
    border: none;
    border-radius: 6px;
    font-family: Forum, 'Times New Roman', Times, serif;
    margin-left: 8px;
    padding: 5px;
    text-transform: uppercase;
}

button:hover {
    background-color: #ADF558;
}

/* Styling for Ask a question-feature below*/
#userQuestion {
    border: none;
    border-radius: 6px;
    font-family: Forum, 'Times New Roman', Times, serif;
    margin: 0;
}

#printQuestion {
    padding: 15px;
}

#answer, #message {
    font-size: 20px;
    font-style: italic;
}

/* Styling for Lucky number -feature below*/
#number {
    color: #FFF;
    font-size: 80px;
    margin: 0;
    padding-top: 30px;
    text-align: center;
}

/* Styling for message-feature below*/
#message {
    margin: 90px;
    width: 100%;
}


/* Styling for Game-feature below*/
h2 {
    color: #FFF;
    font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-decoration: none;
    text-align: center;
}

.small a {
    color: #FFF;
    text-decoration: none;
}

.small a:hover {
    color: #ADF558;
}

.container-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 25px;
    width: 100%;
}

.Player1, .Player2 {
    margin-top: 0;
}

.dice {
    width: 50%;
    text-align: center;
}

.img1, .img2 {
    width: 40%;
}


/* Media with a screen of max-width 865px */
@media only screen and (max-width: 865px) {
    #menu {
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    ul {
        width: 75%;
        text-align: center;
        display: inline-block;
    }
}

/* Media with a screen of max-width 600px */
@media only screen and (max-width: 600px) {

    .glow {
        margin-bottom: 5px;
    }

    ul {
        width: 60%;
    }

    nav li {
        padding-top: 10px;
    }

    #message {
        width: 80%;
    }

    .box {
        width: 300px;
    }

    #message {
        width: 100%;
        margin: 20px;
    }
}

/* Media with a screen of max-width 425px */
@media only screen and (max-width: 425px) {

    ul {
        width: 85%;
    }

    nav li {
        padding-top: 10px;
    }

    nav a {
        font-size: 18px;
    }

    .glow {
        font-size: 60px;
    }
}